@media (max-width: 600px) {
  .containor-div {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 900px) {
  .containor-div {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 12800px) {
    .containor-div {
      display: flex;
      flex-wrap: wrap;
    }
  }