@media (max-width: 600px) {
    .main-div{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0;
        height: auto;
    }
}

@media (max-width: 900px) {
    .main-div{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0;
        height: auto;

    }
}

@media (max-width: 600px) {
    .div-con-1{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0;
        height: auto;

    }
}

@media (max-width: 900px) {
    .div-con-1{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0;
    }
}