.main-div {
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: black;
}

.article-container {
    padding: 10px;
    border: 1px solid gray;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s;
    background-color: #1a1a1a;
    width: 80%;
    max-width: 700px;
    height: auto;
    border-radius: 10px;
    backdrop-filter: opacity(5%);
    display: flex;
    flex-direction: column;
}

.div-container {
    display: flex;
    align-items: center;
    padding: 10px;
}

.flex-container {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    /* gap: 10px; */
    width: 100%;
}

.image {
    width: 20%;
    /* height: 10%; */
    object-fit: cover;
    border-radius: 10px;
    padding: 8px;
    background-color: #424040;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 10em;
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}

.description {
    color: #ccc;
}

.divider {
    width: 100%;
    margin-top: 10px;
}

.xp-container {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    width: 80px;
    height: 30px;
    background-color: #333;
    border-radius: 15px;
    margin-top: 10px;
    justify-content: center;
}

.xp-icon {
    width: 20px;
    height: 20px;
}

.xp-text {
    color: #ffa500;
    margin-left: 5px;
}

.button-dropdown {
    margin-top: 10px;
    /* margin-left: 10em; */
    /* padding: 5px 5px; */
}

.dropdown-button {
    width: 40px;
    text-align: left;
    font-size: 1rem;
    color: white;
    background-color: #333;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid gray;
    transition: background-color 0.3s;
}

.dropdown-button:hover {
    background-color: #555;
}

.dropdown-content {
    margin-top: 20px;
}

.dropdown-item {
    display: flex;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #333;
    transition: background-color 0.3s;
}

.dropdown-item:hover {
    background-color: #444;
}

.dropdown-link {
    margin-right: 10px;
}

.dropdown-img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.dropdown-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdown-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #ccc;
}

.dropdown-divider {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.task-info {
    display: flex;
    align-items: center;
}

.task-text {
    font-size: 0.875rem;
    font-weight: 500;
    color: #ccc;
}

.progress-bar {
    display: block;
    width: 80px;
    height: 5px;
    border-radius: 10px;
    background: linear-gradient(to top, #333, #555);
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.progress-indicator {
    display: block;
    width: 60%;
    height: 100%;
    border-radius: 10px;
    background-color: #666;
}

.checklist-icon {
    width: 20px;
}



@media (max-width: 768px) {
    .article-container {
        height: full;
    }

    .flex-container {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .content {}

    .image {
        width: 120px;
        height: 150px;
    }

    .title {
        font-size: 1.2rem;
    }

    .dropdown-item {
        flex-direction: column;
        align-items: center;
    }

    .dropdown-img {
        width: 100px;
        height: 100px;
    }

    .dropdown-text {
        align-items: center;
        text-align: center;
    }

    .dropdown-title {
        font-size: 1rem;
    }

    .task-info {
        flex-direction: column;
    }

    .progress-bar {
        margin: 10px 0;
    }
}